.root-admin {
  $primary-color: #368978;
  $danger-color: #c84823;
  $warning-color: #f3c130;
  $success-color: #4dc267;
  $secondary-color: #6d6875;
  $light-color: #ffffff;

  .ant-layout {
    min-height: 100vh;

    &-sider {
      background-color: $light-color;
      min-width: 300px !important;
      max-width: 300px !important;

      &-collapsed {
        max-width: 85px !important;
        min-width: 85px !important;
      }

      .ant-menu {
        background-color: transparent;
        border: unset;

        &-item {
          min-height: 65px;
          line-height: 65px;
          padding-left: 40px;

          @media (max-width: 600px) {
            padding-left: 10px;
          }

          .anticon {
            font-size: 1.5rem;
            color: $secondary-color;
          }

          .ant-menu-title-content {
            padding-left: 20px;
            font-weight: 700;
            color: $secondary-color;
            font-size: 1.2rem;
          }
        }
      }
    }

    &-header {
      background-color: $light-color;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ant-input-search{
        .ant-input{
          height: 36px;
        }
        .ant-input-search-button{
          height: 36px;
        }
      }
      .trigger {
        margin-left: 24px;
        font-size: 1.5rem;
        color: $primary-color;
      }

      .profile {
        cursor: pointer;
        padding-right: 20px;

        .avatar-item {
          display: flex;
          align-items: center;
          gap: 10px;

          &__text {
            line-height: 1;

            p {
              font-weight: 600;
              font-size: 16px;
              margin-bottom: 6px;
            }
          }
        }
      }
    }

    &-content {
      background-color: $light-color;
      margin: 25px 20px;
      padding: 30px 35px;
    }

    main {
      .content-title {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}