@import "media-queries";
@import "colors";

body.dark {
  .root-base .ant-layout-content {
    background: #121212;
  }

  .head {

    &__change {
      background: #121212;
    }
  }
}

.root-base .ant-layout-content {
  background: $screen-color;
  margin-top: 5vw;
  padding-top: 2vw;
  @include desktop-plus {
    margin-top: 6vw;
  }
  @include desktop {
    margin-top: 8vw;
  }
  @include tablet-sm {
    margin-top: 10vw;
    padding-top: 5vw;
  }

  @include mobile-plus {
    margin-top: 15vw;
    padding-top: 5vw;
  }

  @include mobile {
    margin-top: 18vw;
    padding-top: 5vw;
  }
  @include mobile-sm {
    margin-top: 20vw;
    padding-top: 5vw;
  }
}

.ant-back-top {
  right: 50px !important;
  @include mobile {
    right: 40px !important;
    bottom: 40px !important;
  }
  @include mobile-sm {
    right: 20px !important;
    bottom: 20px !important;
  }

  div {
    @include mobile {
      height: 40px !important;
      width: 40px !important;
      line-height: 40px !important;
    }
  }
}

.head {
  position: relative;

  &__change {
    width: 100%;
    background: $screen-color;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
  }
}

.root-base .ant-layout.ant-layout-has-sider {
  flex-direction: column !important;

  > .ant-layout-content {
    width: 100%;
  }
}
