@import "media-queries";
@import "fonts";
@import "colors";

.detail {
  margin: 0 5vw;
  position: relative;
  .pro {
    margin-top: 20vh;
  }
  .avtpro img {
    width: 100% !important;
    height: auto !important;
  }
  .image {
    display: flex;
    margin-top: 3vh;
    padding: 0;
    // text-align: center;
    justify-content: space-between;
  }
  .imageCon {
    width: 190px;
    padding: 0;
    margin: 0;
  }
  .imageCon img {
    //   padding-right: 5vh;
    width: 100% !important ;
  }
  .infor {
    padding-left: 40px;
  }
  .newnewCollect {
    display: flex;
    justify-content: flex-end;
  }
  .hrCategory {
    width: 50%;
    height: 1px;
    background-color: $dark--hr-color;
    position: relative;
    &::before {
      position: absolute;
      content: "CATEGORY";
      right: 0;
      bottom: 0;
      transform: translate(120%, 35%);
      font-size: 18px;
      color: $light--secondary-color;
      font-family: $font-SFRMeta;
      text-transform: lowercase;
    }
  }
  .succulent {
    font-size: 80px;
    font-family: $font-SFUToledoMedium;
    line-height: 75px;
    color: $fifth-color;
    margin: 30px 0px 60px 0px;
  }
  .hrNewCollect {
    width: 74.5%;
    height: 1px;
    background-color: $dark--hr-color;
    position: relative;
    &::before {
      position: absolute;
      content: "new collection";
      left: 0;
      bottom: 0;
      transform: translate(-120%, 35%);
      font-size: 18px;
      color: $light--secondary-color;
      font-family: $font-SFRMeta;
      text-transform: lowercase;
    }
  }
  .price {
    font-size: 72px;
    color: $dark-color;
    font-family: $font-SFRMeta;
    span {
      font-family: $font-SFUMetaBold;
    }
  }
  .color_quantity {
    display: flex;
    .color {
      width: 40%;
      position: relative;
      padding-right: 30px;
      p {
        font-family: $font-SFRMeta;
        font-size: 20px;
        color: $light--secondary-color;
      }
      &__item {
        margin: 0 10px;
        width: 25px;
        height: 35px;
        &.green {
          background-color: $green-color;
        }
        &.purple {
          background-color: $purple-color;
        }
        &.yellow {
          background-color: $warning-color;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        right: 0;
        bottom: 0;
        transform: rotate(25deg);
        background-color: black;
      }
    }
    .quantity {
      margin: auto;
      display: flex;
      .btn1 {
        width: 23px;
        height: 30px;
        border: 0.01px solid;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .btn2 {
        border-top: 1px solid;
        border-bottom: 1px solid;
        height: 30px;
        width: 70px;
        text-align: center;
      }
      .btn3 {
        height: 30px;
        width: 23px;
        border: 0.01px solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .stock {
    margin-top: 5vh;
  }
  .footerInfor {
    .btnCart {
      background-color: $dark-color;
      color: white;
      border: none;
      width: 25%;
      height: 32px;
    }
    .btnBy {
      background-color: $dark-color;
      color: white;
      border: none;
      width: 15%;
      height: 32px;
      margin-left: 30px;
    }
  }
  .textD {
    margin-top: 3vh;
    .hrtext {
      width: 100%;
      height: 1px;
      background-color: $dark--hr-color;
      position: relative;
      margin: 35px 0px 15px 0px;
      &::before {
        position: absolute;
        content: "product description";
        left: 0;
        bottom: 0;
        transform: translate(0%, 0%);
        font-size: 18px;
        color: $light--secondary-color;
        font-family: $font-SFRMeta;
        text-transform: lowercase;
      }
    }
  }

  .proCmt {
    .hrCmt {
      width: 100%;
      height: 1px;
      background-color: $dark--hr-color;
      position: relative;
      margin: 35px 0px 15px 0px;
      &::before {
        position: absolute;
        content: "product comments";
        left: 0;
        bottom: 0;
        transform: translate(0%, 0%);
        font-size: 18px;
        color: $light--secondary-color;
        font-family: $font-SFRMeta;
        text-transform: lowercase;
      }
    }
  }
  .contaistar {
    width: 100%;
    height: auto;
    margin-right: 5vh;
    background-color: white;
    border: 1px solid $boder-color;
    display: flex;
  }
  .numberStar {
    width: 30%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 41px;
  }
  .btnStar {
    button {
      padding: 0 10px;
      margin: 10px 20px;
    }
    button:hover {
      border: 1px solid $bode--hover-color;
      color: $bode--hover-color;
      font-size: 14.5px;
    }
  }
  .voucher {
    background-color: white;
    height: 250px;
    width: 100%;
    margin-left: 40px;
    border: 1px solid $boder-color;
    // p {
    //   margin: 10px;
    // }
  }
  .commnet {
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: 3vh;
    .itemComment {
    }
  }
  .aboveSlide {
    width: 100%;
    height: 3px;
    position: relative;
    margin: 5vh 0;
    background-color: black;
    ::before {
      position: absolute;
      content: "hello";
      left: 0;
      bottom: 0;
      transform: translate(100%, 50%);
      font-size: 18px;
      // color: $light--secondary-color;
      // font-family: $font-SFRMeta;
    }
  }
}
