@import "media-queries";
@import "fonts";
@import "colors";

.detail {
  margin: 0 5vw;
  position: relative;
  .pro {
    margin-top: 20vh;
  }
  .avtpro img {
    width: 100% !important;
    height: auto !important;
  }
  .image {
    display: flex;
    margin-top: 3vh;
    padding: 0;
    // text-align: center;
    justify-content: space-between;
  }
  .imageCon {
    width: 190px;
    padding: 0;
    margin: 0;
  }
  .imageCon img {
    //   padding-right: 5vh;
    width: 100% !important ;
  }
  .infor {
    padding-left: 25px;
    background-color: aqua;
  }
  .succulent {
    font-size: 11vh;
  }
}
