@import "media-queries";
@import "colors";
@import "fonts";

// reset css
input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

// theme dark
body.dark {
  #Home {
    .slider {
      .slider-right {
        .slider-right_title {
          h1 {
            color: #259e84;
          }
        }

        .slider-right_content {
          color: white;
        }
      }
    }

    // section 2
    .product-wrapper {
      color: white;
      background-color: #181819;

      .h_product {
        .h_product-title {
          h1 {
            color: white;

          }
        }

        .h_product-header {
          &_flex {

            div {
              &::before {
                background-color: #207d69;
              }

              &:hover {
                color: #207d69;
              }
            }
          }
        }
      }

      .h_product-main {

        .slick-prev:before,
        .slick-next:before {
          color: white;
        }

        .slick-dots {
          li button:before {
            background-color: #207d69;
          }
        }
      }
    }

    // section 3
    .section_hot {
      background-color: #141414;

      &__card {
        color: white;

        .card__flex {
          background-color: #4fbda8;
        }
        .card__content {
          &--bar {
            background-color: #1D483F
          }
        }
      }
      .desc__title{
        color: white;
      }
      .desc__content{
        color: white;
      }
    }
  }
}



// theme Light
// section 1
#Home {
  .container_home {
    padding: 0px 5vw;
  }

  .slider {
    font-family: $font-SFRMeta;

    .slider-left img {
      animation: slide_left 1s ease-out alternate 1;
      -moz-animation: slide_left 1s ease-out alternate 1;
      -webkit-animation: slide_left 1s ease-out alternate 1;
      -o-animation: slide_left 1s ease-out alternate 1;
    }

    @keyframes slide_left {
      from {
        transform: translateX(-100%);
      }

      to {
        transform: translateX(0%);
      }
    }

    .slider-right {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;

      @include tablet1 {
        margin: 5vw 0vw;
      }

      img {
        height: 18vw;
        animation: slide_right 1s ease-out alternate 1;
        -moz-animation: slide_right 1s ease-out alternate 1;
        -webkit-animation: slide_right 1s ease-out alternate 1;
        -o-animation: slide_right 1s ease-out alternate 1;

        @keyframes slide_right {
          from {
            transform: translateY(-100%);
          }

          to {
            transform: translateY(0%);
          }
        }

        @include tablet1 {
          display: none;
        }
      }


      .slider-right_title {

        margin-left: -28%;
        font-family: $font-SFUToledoMedium;
        animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        -moz-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        -webkit-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        -o-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;

        @keyframes outer-title {
          from {
            transform: translateX(20%);
          }

          to {
            transform: none;
          }
        }

        @include tablet1 {
          margin-left: 0;
        }

        h1 {
          font-size: 3.5vw;
          color: #296a5d;
          line-height: 1.23;

          @include tablet1 {
            font-size: 42px;
          }

          @include mobile {
            font-size: 7vw;
          }
        }
      }

      .slider-right_content {
        font-family: $font-SFUHelveticaLight;
        font-size: 1.3vw;
        margin-top: -3vw;
        color: black;

        @include tablet1 {
          margin-top: 0;
          margin-bottom: 1rem;
          font-size: 18px;
        }

        @include mobile {
          font-size: 14px;
        }
      }
    }
  }

  // section 2
  .product-wrapper {
    font-family: $font-SFRMeta;
    margin-top: 4vw;
    color: black;
    background-color: $light--white-color;
    ;

    .h_product {
      padding-top: 40px;
      padding-bottom: 40px;
      align-items: center;
      justify-content: space-between;

      .h_product-title {
        h1 {
          font-size: 3.8vw;
          line-height: 1;
          margin-bottom: 0;
          font-family: $font-SVNNewton;

          @include tablet {
            font-size: 3.5vw;
          }

          @include tablet-sm {
            font-size: 1.6rem;
          }

          @include mobile {
            font-size: 1.6rem;
            text-align: center;
          }

        }
      }

      .h_product-header {
        &_flex {
          display: flex;
          font-size: 1.6vw;
          justify-content: space-between;
          cursor: pointer;

          @include tablet-sm {
            font-size: 1.8vw;
          }

          @include mobile {
            display: none;
          }

          div {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              background-color: $primary-color;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              transform: scale(0, 1);
              transition: 0.4s;
            }

            &:hover::before {
              transform: scale(1, 1);
            }

            &:hover {
              color: #296a5d;
            }
          }
        }
      }
    }

    .h_product-main {

      &:hover .slick-arrow {
        opacity: 1;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .h_product-flex * {
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
      }

      .slick-arrow {
        opacity: 0;
        top: 40%;
        transition: .5s ease;
      }

      .h_product-flex {
        padding: 0 8px;
        cursor: pointer;

        &_hover {

          overflow: hidden;
          position: relative;
          transition: .5s;

          img {
            object-fit: cover;
            display: block;
            height: 28vw;

            @include tablet-sm {
              height: 38vw;
            }

            @include mobile {
              height: 100vw;
            }
          }

          &:hover img {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
          }

          &:hover .h_product-flex_icon {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 1;
          }
        }

        &_content {
          margin-top: 0.3rem;
          font-size: 1.3vw;
          text-align: center;

          @include tablet-sm {
            font-size: 2vw
          }

          @include mobile {
            font-size: 1.3rem;
          }

          p {
            margin-bottom: 0;
          }
        }

        &_icon {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;

          a {
            position: absolute;
          }


          .icon-like {
            right: 0;
            padding: 1vw 1.2vw;

            @include tablet-sm {
              .anticon-heart {
                font-size: 3vw !important;
              }
            }

            @include mobile {
              padding: 1rem 1.2rem;

              .anticon-heart {
                font-size: 12vw !important;
              }
            }
          }
        }
      }

      .slick-list {
        margin: 0 -8px;
      }

      .slick-next {
        right: 2.5%;

        @include desktop-plus {
          right: 2.1%;
        }

        @include desktop {
          right: 1.8%;
        }

        @include tablet-plus {
          right: 1.4%;
        }
      }

      .slick-prev {
        left: 1%;
      }

      .slick-prev:before,
      .slick-next:before {
        color: black;
        z-index: 1;
        font-size: 3vw;

        @include mobile {
          display: none;
        }
      }

      .slick-dots {
        text-align: left;

        @include mobile {
          top: -30px;
          text-align: center;
        }

        li button:before {
          content: "";
          width: 20px;
          height: 5px;
          border-radius: 30px;
          background-color: #4fbda8;
        }
      }
    }

    .h_product-button {
      padding: 2rem 0;
      text-align: right;

      @include mobile {
        text-align: center;
      }
    }
  }

  // section 3
  .section_hot {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: $font-SFRMeta;

    @include tablet-plus {
      display: none;
    }

    @include tablet-sm {
      display: block;
    }

    // section introduce left

    &__img {
      z-index: 1;
      @media screen and (max-width: 376px) {
        flex: 100%;
        max-width: 100%;
      } 
    }

    &__card {
      font-size: 20px;
      color: white;
      margin-top: 60px;

      @include desktop {
        font-size: 18px;
      }

      @include mobile{
        font-size: 3.4vw;
      }

      .card__flex {
        padding: 16px 0;
        margin-bottom: 60px;
        background-color: #4fbda8;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 0;
        position: relative;
        width: 380px;
        left: -140px;

        @include desktop {
          width: 350px;
          margin-bottom: 40px;
          padding: 12px 0;
        }

        @include tablet-sm {
          width: 340px;
          margin-bottom: 60px;
          padding: 16px 0;
        }
        @include mobile{
          width: 275px;
          padding: 10px 0;
          margin-bottom: 40px;
        }
        @media screen and (max-width: 376px) {
          display: none;
        }
        
        .card__icon {
          margin-right: -20px;
          font-size: 24px;

          @include desktop {
            font-size: 22px;
          }
           @include mobile {
            font-size: 18px;
          }
        }
      }

      .card__content {
        flex-basis: 76%;
        margin-right: -26px;

        &--title {
          margin-bottom: 0.3rem;
        }

        &--bar {
          width: 80%;
          position: relative;
          height: 1.1rem;
          background-color: #1D483F;

          &::after {
            content: "sit";
            position: absolute;
            right: -2rem;
            bottom: -3px;
          }
        }
      }
    }

    .card--center {
      left: -200px;
      @include mobile{
        left: -170px;
      }
    }

    .card--bottom {
      z-index: 2;
    }

    // section introduce right
    .section_hot__desc {
      margin-left: 80px;
      margin-top: 1.4rem;

      @include desktop {
        margin-left: 110px;
      }

      @include tablet-sm {
        margin-left: 0;
      }

      .desc__title {
        font-size: 60px;
        font-family: $font-SVNNewton;
        line-height: 1;

        @include desktop {
          font-size: 46px;
        }

        @include tablet-sm {
          margin-left: 0;
        }
      }

      .desc__content {
        font-family: $font-SFUHelveticaLight;
        font-size: 24px;
        line-height: 1.2;

        @include desktop {
          font-size: 18px;
        }

        @include mobile {
          font-size: 14px;
        }
        &--large {
          width: 86%;

          @include desktop {
            width: 100%;
          }
        }

        &--flex {
          display: flex;
          align-items: flex-end;
          gap: 1rem;
          margin-bottom: 1rem;
        }

        &--btn {
          margin-top: 2.4rem;
        }
      }
    }
  }
}