@import "media-queries";
@import "colors";
@import "fonts";
.slider{
    img{
        width: 100%;
    }
    .slider-right{
        display: flex;
        padding: 0px 5vw;
        flex-wrap: wrap;
        align-content: space-between;
        @media screen and (max-width: 576px) {
            padding: 5vw 8vw;
        }
        img{
            height: 18vw;
            @media screen and (max-width: 576px) {
                display: none;
            }
        }
        .slider-right_title{
            margin-left: -28%;
            font-family: $font-SFUToledoMedium;
            @media screen and (max-width: 576px){
                margin-left: 0;
            }
            h1{
                font-size: 3.5vw;
                font-weight: normal;
                color: #296A5D;
                @media screen and (max-width: 576px){
                    font-size: 1.6rem;
                }
            }
        }
        .slider-right_content{
            font-family: $font-SFUHelveticaLight;
            font-size: 1.3vw;
            margin-top: -3vw;
            @media screen and (max-width: 576px){
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 0.8rem;
            }
        }
    }
}