@import "../media-queries";
@import "../colors";
@import "../fonts";

#cart {
  font-family: $font-SFRMeta;
  padding: 0px 5vw;
  text-transform: lowercase;

  // section sản phẩm gợi ý
  .suggest_product {
    margin: 40px 0;

    &__heading {  
      color: #696868;
      font-family: $font-SVNNewton;
      font-size: 40px;
      text-transform: none;
      @include desktop{
        font-size: 30px;
      }
    }
  }
}