@import "../media-queries";
@import "../colors";
@import "../fonts";

.img-login {

   

   .logo-login {
      padding: 4px;
      width: 36%;
   }
}

.title-login {
   position: absolute;
   top: 12%;
   left: 0;
   right: 0;
   text-align: center;
   color: #246356;
   font-size: 3.5vw;
   font-family: $font-SFUToledoMedium;
}

.content-login {
   width: 65%;
   font-family: $font-SFUHelveticaLight;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   top: 36%;
   font-size: 18px;

   @include desktop-plus {
      font-size: 16px;
   }

   @include desktop {
      font-size: 14px;
   }

   @include tablet-plus {
      font-size: 12px;
   }

   @include tablet {
      font-size: 10px;
   }

   .wrapper-remember_forgot {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper-checkbox {
         display: flex;
         align-items: baseline;
         gap: 8px;

         @include tablet-plus {
            gap: 4px;
         }

         .label-checkbox {
            color: #C5B267;

         }

         #login_checkbox {
            width: 15px;
            height: 14px;

            @include tablet-plus {
               width: 10px;
               height: 10px;
            }
         }
      }
   }

   a {
      text-decoration: none;
   }

   &_input {
      color: white;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid white;
      display: block;
      width: 100%;
      background: transparent;
      outline: none;
      padding: 4px;
      margin-bottom: 2.5vw;

      &::placeholder {
         color: #BFDAD5;
      }
   }

   .login-btn_submit {
      margin: 0 auto;
      margin-top: 12%;
      padding: 0.2vw 2.8vw 0.4vw 2.8vw !important;
      display: block;
      border-radius: 30px;
      background-color: transparent;
      color: #F1EFEF;
      border: 1px solid white;
      font-family: "SFUMetaCaps";
      cursor: pointer;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
      outline: 1px solid rgba(255, 255, 255, 0.5);
      text-shadow: none;
      -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      outline-offset: 0px;

      &:hover {
         border: 1px solid;
         box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
         outline-offset: 15px;
         outline-color: rgba(255, 255, 255, 0);
         text-shadow: 1px 1px 2px #427388;
      }
   }

   .login-forget {
      color: #BFDAD5;
   }
}

.footer-login {
   padding: 0.8vw 1.6vw;
   width: 100%;
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   .icon-login {
      display: flex;

      a {
         padding-right: 10px;

         img {
            width: 1.5vw;
         }
      }
   }

   .add-account {
      color: #7CACC2;
      font-size: 18px;
      cursor: pointer;

      @include desktop-plus {
         font-size: 16px;
      }

      @include desktop {
         font-size: 14px;
      }

      @include tablet-plus {
         font-size: 12px;
      }

      @include tablet {
         font-size: 10px;
      }

   }
}