@import "../media-queries";
@import "../colors";
@import "../fonts";

.blog {
  background-color: $light--white-color;
  padding-top: 30px;
  padding-bottom: 100px;

  .font-title {
    font-family: $font-SVNNewton;
    font-size: 48px;
    line-height: 1;
    color: #6b5f5f;
  }

  .font-content {
    line-height: 30px;
    font-size: 24px;
    font-family: $font-SFUHelveticaLight;
  }

  .content__main {
    text-overflow: ellipsis;
    max-height: 180px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    -webkit-line-clamp: 6;
  }
  .btn-read_more {
    text-transform: lowercase;
    font-size: 24px;
    font-family: $font-SFRMeta;
    background-color: transparent;
    border: none;
  }

  .content__date {
    color: #889c6d;
  }

  &__title {
    font-family: $font-SVNNewton;
    font-size: 54px;
    margin-bottom: 20px;
  }

  .bg-item_blog {
    background-color: $screen-color;
  }
  .blog__wrapper--content {
    padding: 50px 45px;
  }
  .blog__flex {
    display: flex;
    align-items: center;

    &--content {
      padding: 0px 75px;
    }
    &--heading {
      margin-bottom: 0.4rem;
    }
    .blog__img {
      width: 292px;
      height: 244px;
      img {
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}
